.threeNewLvl{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: antiquewhite;
  .closeChair{
    position: fixed;
    top: 15px;
    z-index: 1000;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #ec4233;
    color: white;
    border-radius: 5px;
    font-size: 0.85rem;
    line-height: 0.85rem;
    letter-spacing: 1px;
    padding: 12px 30px;
    cursor: pointer;
    @media only screen and (max-width: 960px) {
      font-size: 0.8rem;
      line-height: 0.8rem;
      padding: 12px 20px;
    }
  }
  h2 {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    @media only screen and (max-width: 600px) {
      font-size: 1.75rem;
      line-height: 2.25rem;
    }
    span{
      color: #ec4233;
    }
  }
  .chairLink{
  position: relative;
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 12px 5px;
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
  @media only screen and (max-width: 600px) {
    font-size: 1rem;
  }
  &::after{
    content: '';
    position: absolute;
    bottom: 0px;
    left: -5px;
    height: 1px;
    width: 25%;
    background: #ec4233;
    transition: width 0.3s;
    @media only screen and (max-width: 600px) {
      height: 2px;
      width: 35%;
      bottom: -2px;
      left: -8px;
    }
  }
  &::before{
    content: '';
    position: absolute;
    top: 0px;
    right: -5px;
    height: 1px;
    width: 25%;
    background: #333;
    transition: width 0.3s;
    @media only screen and (max-width: 600px) {
      height: 2px;
      width: 35%;
      top: -2px;
      right: -8px;
    }
  }
  &:hover::after{
    width: calc(100% + 10px);
  }
  &:hover::before{
    width: calc(100% + 10px);
  }
  }
}