  header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    z-index: 10;
    @media only screen and (max-width: 600px){
      min-height: 80px;
    }
    .navBar{
      position: relative;
      display: flex;
      align-items: center;
      @media only screen and (max-width: 600px){
        margin-bottom: 40px;
        padding-bottom: 20px;
        border-bottom: 1px solid white;
        width: 90%;
      }
      .link{
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-size: 16px;
        padding: 10px 20px;
        margin-right: 20px;
        letter-spacing: 1px;
        @media only screen and (max-width: 600px){
          padding: 20px;
          margin: 0px;
          font-family: "Proxima";
          font-weight: 600;
        }
      }
      .project{
        background-color: rgb(236, 66, 51);
        color: white;
        border-radius: 5px;
      }
    }
  }
  }

  .navbarMob{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ec4233;
    z-index: 50;
    .navBar{
      position: relative;
      display: flex;
      flex-direction: column;
      .link{
        margin-bottom: 20px;
      }
    }
    .navSocial{
      margin-bottom: 100px;
      .socialLink{
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0px 10px;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
    .navContact{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      a{
        text-decoration: none;
        font-family: "Proxima";
        font-weight: 600;
        letter-spacing: 0.5px;
        padding: 8px;
        font-size: 14px;
        color: white;
      }
    }
  }

  .burgerNav{
    position: relative;
    width: 30px;
    height: 25px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 100;
    margin-top: 12px;
    span{
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: white;
      border-radius: 1.5px;
      opacity: 0.8;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
      &:nth-child(1){
        top: 0px;
      }
      &:nth-child(2){
        top: 10px;
      }
      &:nth-child(3){
        top: 20px;
      }
    }
    &.open{
      position: fixed;
      right: 20px;
      span{
        &:nth-child(1){
          top: 10px;
          transform: rotate(135deg);
        }
        &:nth-child(2){
          opacity: 0;
          left: -30px;
        }
        &:nth-child(3){
          top: 10px;
          transform: rotate(-135deg);
        }
      }
    }
  }