.nextProject{
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  background-image: url(../../assets/img/texture/black_denim.png);
  background-repeat: repeat;
  .nextPortfolioTitle{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 160px;
    @media only screen and (max-width: 1024px) {
      flex-direction: column;
      padding-top: 50px;
    }
    h2{
      font-size: 3rem;
      text-transform: uppercase;
      color: white;
      @media only screen and (max-width: 1024px) {
        text-align: center;
        padding-bottom: 30px;
      }
      span{
        color: #ec4233;
      }
    }
  }
}