html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: "Jost-Light";
  background-color: black;
  background-image: url('./assets/img/texture/black_denim.png');
  background-repeat: repeat;
  font-size: 20px;
  @media only screen and (max-width: 1680px) {
    font-size: 19px;
  }
  @media only screen and (max-width: 1440px) {
    font-size: 18px;
  }
  @media only screen and (max-width: 1280px) {
    font-size: 17px;
  }
  @media only screen and (max-width: 812px) and (orientation: landscape), only screen and (max-width: 480px) {
    font-size: 14px;
  }
}

*{
  outline: none;
  box-sizing: border-box;
}

::-webkit-scrollbar { width: 0;}

video::-webkit-media-controls-play-button,
video::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}

body {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

main {
  display: block;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Proxima";
}

h1 {
  font-size: 2rem;
  margin: 0.67em 0;
}

.container{
  margin: 0 auto;
  max-width: 1600px;
  width: 90%;
  @media only screen and (max-width: 600px) {
    width: calc(100% - 20px);
    padding: 0px 10px;
  }
}
.container-sm{
  max-width: 1270px;
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  margin: 0 auto;
  @media only screen and (max-width: 768px) {
    max-width: 765px;
  }
  @media only screen and (max-width: 600px) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.lazy-load-image-background.blur {
  filter: blur(3px);
}

.lazy-load-image-background.blur.lazy-load-image-loaded {
  filter: blur(0);
  transition: filter .5s;
}

.lazy-load-image-background.blur > img {
  opacity: 0;
}

.lazy-load-image-background.blur.lazy-load-image-loaded > img {
  opacity: 1;
  transition: opacity .5s;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}


sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}


img {
  border-style: none;
}


button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  background: none;
  border: none;
  letter-spacing: inherit;
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}


button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}


progress {
  vertical-align: baseline;
}


textarea {
  overflow: auto;
}


[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}


[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}


[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}


[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}


::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}


details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}